* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  background-color: whitesmoke;
}

.container {
  width: 80%;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border: 1px solid black;
}

header {
  text-align: center;
  padding: 10px;
}

header h1 {
  background-color: gray;
  padding: 10px;
}

#navigation {
  display: flex;
  justify-content: space-around;
  background-color: gray;
  padding: 10px;
  margin-bottom: 20px;
}

#navigation a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.image-placeholder {
  background-color: gray;
  margin: 0 auto;
  width: 600px;
  height: 300px;
  margin-bottom: 20px;
}

.image-placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-text {
  background-color: gray;
  padding: 20px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
}
